.DashboadButton {
    width: 70px;
    height: 70px;
    transform-origin: center;
    user-select: none;
    background-color: #575757;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0.596);
    margin: 5px;
    transition: background-color 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out,
        box-shadow .75s ease-in-out
   

}

.DashboadButton:hover {
   

    background-color: #a5a5a5;
}
.DashboardButton--selected {

    width: 80px;
    height: 80px;
   

    background-color: #fd1403;
    box-shadow:#fd03039f 0px 0px 100px 5px ;
}

.DashboardButton--selected:hover {
  

    background-color: #fd1403;
}

.DashboadButton>img {
    max-width: 80%;
    max-height: 70%;
    object-fit: contain;

}