.viewer {
    background-color: rgb(34, 34, 34);

    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    min-height: 800px;
}

.viewer>div {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 2, 2, 0.788);
    display: flex;
    padding: 0 40px;
    align-items: center;
}

.viewer>div>h1 {

    width: fit-content;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: 100;
    font-size: 35px;
}

.viewer>img {
    margin: auto;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    background-color: rgb(160, 153, 95);
}