.viewer {
    background-color: rgb(34, 34, 34);

    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}

.viewer>header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 2, 2, 0.788);
    display: flex;

    align-items: center;
}

.viewer>header>h1 {

    width: fit-content;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    font-weight: 100;
    font-size: 35px;
}



.viewer>main {

    min-height: 650px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.viewer>main>img {
    width: 100%;
}

.deleteChassis {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    cursor: pointer;
    border-style: none;
    font-size: 25px;
}

.viewer>footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.viewer>footer>h1 {

    font-style: italic;
    font-weight: 200;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    color: white;
}