.viewer {
    background-color: brown;

    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.viewer>img {
    margin: auto;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    background-color: rgb(160, 153, 95);
}